---
# Based on:
# https://github.com/Bioconductor/BuildABiocWorkshop/blob/devel/.github/workflows/basic_checks.yaml#L30

on: [push, pull_request]        # yamllint disable-line rule:truthy

name: check-cran-bioc

jobs:
  check-cran-bioc:
    runs-on: ubuntu-latest
    container: bioconductor/bioconductor_docker:devel

    env:
      R_KEEP_PKG_SOURCE: true
      CRAN: https://packagemanager.posit.co/cran/__linux__/noble/latest

    steps:
      - name: Checkout this git repository
        uses: actions/checkout@v4

      - name: Determine whether the R package cache is valid
        shell: Rscript {0}
        run: |
          BiocManager::install(ask = FALSE, quiet = TRUE)
          df <- remotes::dev_package_deps(dependencies = TRUE)
          saveRDS(df, ".github/depends.Rds", ascii = TRUE)

      - name: Cache R package dependencies
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/R/site-library
          key: |-
            ${{ env.cache-version }}-r-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: |-
            ${{ env.cache-version }}-r-

      - name: Install R package dependencies if necessary
        shell: Rscript {0}
        run: |
          options(repos = BiocManager::repositories())
          remotes::install_deps(dependencies = TRUE, quiet = TRUE)
          pkgs_cran <- c(
              "lintr",
              "covr",
              "rcmdcheck")
          remotes::install_cran(pkgs_cran, quiet = TRUE)
          pkgs_bioc <- c(
              "BiocCheck")
          remotes::install_bioc(pkgs_bioc, quiet = TRUE)

      - name: Lint package
        shell: Rscript {0}
        run: lintr::lint_package()
        env:
          LINTR_ERROR_ON_LINT: true

      - name: Report unit test coverage
        shell: Rscript {0}
        run: |
          cov <- covr::package_coverage(
              quiet = FALSE,
              clean = FALSE,
              install_path = file.path(
                  normalizePath(
                      Sys.getenv("RUNNER_TEMP"),
                      winslash = "/"),
                  "package")
          )
          cov
          covr::zero_coverage(cov)

      - name: Check CRAN
        shell: Rscript {0}
        run: |
          rcmdcheck::rcmdcheck(
              args = "--no-manual",
              error_on = "warning",
              check_dir = "check")
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false

      - name: Check Bioc
        shell: Rscript {0}
        run: |
          BiocCheck::BiocCheck()
